includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
        - database
    level: 5
    excludePaths:
        - database/migrations/*
        - bootstrap/cache/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
